{
    "odr": [
    ],
    "global": {
        "daemon": false,
        "logs_directory": "/opt/ODR-EncoderManager/logs/",
        "supervisor_xmlrpc": "http://admin:admin@127.0.0.1:9001/RPC2",
        "static_directory": "/opt/ODR-EncoderManager/static/",
        "host": "0.0.0.0",
        "supervisor_file": "/opt/ODR-EncoderManager/supervisor-encoder.conf",
        "supervisor_additional_processes": [],
        "port": 8080
    },
    "auth": {
        "users": [
            {
                "username": "admin",
                "password": "admin"
            }
        ]
    }
}
