[global]
encoder_path=/usr/local/bin/dabplus-enc
mot_path=/usr/local/bin/mot-encoder


[telnet]
port=9000
; Leave blank to bind on all IP
bind_ip=

[rpc]
; RPC is used by webgui to communicate with EncoderManager
port=7080
; Leave blank to bind on all IP
bind_ip=

[source]
; source type can be stream or alsa
type=stream

; For source type stream
url=http://ice.stream.frequence3.net/frequence3-128.mp3
volume=0

; For source type alsa
device=hw:1,0
driftcomp=true

[output]
; ZeroMQ configuration, with optional key
host=mux.opendigitalradio.org
port=9002
; Leave blank to not use key_file
key_file=

; Sound configuration
bitrate=96
samplerate=48000
sbr=true
ps=false
afterburner=true

[mot]
enable=true
pad=34
pad_fifo_file=/tmp/metadata.pad
dls_fifo_file=/tmp/metadata.dls

; Leave blank to not use SLS
slide_directory=/tmp/slide/
slide_sleeping=10
slide_once=true
