        <div class="container-fluid">
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                        <div class="navbar-header">
                                <a class="navbar-brand" href="/">ODR - Encoder Manager</a>
                        </div>
                        <div>
                        <ul class="nav navbar-nav">
                                <li{% if tab == 'home' %} class="active"{% endif %}><a href="/">Home</a></li>
                                {% if is_login is sameas true %}
                                <li{% if tab == 'status' %} class="active"{% endif %}><a href="/status">Status</a></li>
                                <li class="dropdown{% if tab == 'encoderconfig' or tab == 'encodermanage' %} active"{% endif %}">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="/encoderconfig">Encoder
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                                <li><a href="/encoderconfig">Configuration</a></li>
                                                <li><a href="/encodermanage">Manage</a></li>
                                        </ul>
                                </li>
                                <li class="dropdown{% if tab == 'backup' or tab == 'user' %} active"{% endif %}">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tools
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                                <li><a href="/backup">Backup & Restore</a></li>
                                                <li><a href="/user">User management</a></li>
                                                {% if is_network is sameas true %}
                                                    <li><a href="/network">Networks management</a></li>
                                                {% endif %}
                                        </ul>
                                </li>
                                <li class="dropdown{% if tab == 'help' or tab == 'about' %} active"{% endif %}">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Help
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                                <li class="dropdown-header">Open Digital Radio</li>
                                                <li><a href="http://www.opendigitalradio.org/">Website</a></li>
                                                <li><a href="http://wiki.opendigitalradio.org/">Documentation</a></li>
                                                <li><a href="https://github.com/Opendigitalradio/">GitHub</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">ODR Encoder Manager</li>
                                                <li><a href="/help">Help</a></li>
                                                <li><a href="/about">About</a></li>
                                        </ul>
                                </li>
                                {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                                {% if is_login is sameas true %}
                                        <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                                {% else %}
                                        <li><a href="/auth/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                                {% endif %}
                        </ul>
                        </div>
                </div>
        </nav>
        </div>